body {
  background: #fffff8;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: rgba(59, 74, 107);
  justify-content: center;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}

.holder {
  display: flex;
  justify-content: center;
  max-width: 700px;
  margin: 0 auto;
}

.holder.zip {
  margin-top: 5rem;
}

.entry {
  background: rgba(59, 74, 107, 0.4);
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  padding: 1rem;
}
#date {
  margin-top: 1rem;
}

.headline {
  width: 100%;
  font-size: 2rem;
}
.title {
  text-align: center;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 27px;
  margin-right: 1rem;
  width: 200px;
}

input {
  display: block;
  height: 40px;
  width: 320px;
  padding-left: 0.8rem;
  border: solid 1px rgb(59, 74, 107);
  border-radius: 5px;
  color: #f0d43a;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}

button {
  display: block;
  width: 400px;
  height: 50px;
  background: #3b4a6b;
  color: #f0d43a;
  font-size: 26px;
  font-family: "Oswald", sans-serif;
  border: none;
  border-radius: 5px;
  margin: 3rem auto;
}

button:hover {
  cursor: pointer;
  box-shadow: 2px 4px 5px #444;
}

h1 {
  font-size: 36px;
}

textarea {
  margin-top: 1rem;
  color: #f0d43a;
  font-size: 20px;
  padding-left: 0.8rem;
  border-radius: 5px;
  border: solid 1px rgb(59, 74, 107);
  font-family: "Oswald", sans-serif;
  width: 320px;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}
